In [1]:
#Importando as bibliotecas necessárias 
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
# Dessa url que fez-se o webscrapping

url = 'https://www.astro.com/astro-databank/Roberts%2C_Julia'

In [3]:
page = requests.get(url) #solicitando GET ao servidor

In [4]:
#analisando a página com a biblioteca beautiful soup
soup = BeautifulSoup(page.content, 'html.parser')

In [22]:
# identificando a tag e fazendo a separação dos dados
rows = soup.find_all('tr') 
rows = [row.text.strip().split("\n") for row in rows]

In [23]:
rows

[['Name', '', '', '', 'Roberts, Julia', 'Gender:  F'],
 ['Roberts, Julia', 'Gender:  F'],
 ['Birthname', 'Julie Fionna Roberts'],
 ['born on', '28 October 1967 at 00:16  (= 12:16 AM )'],
 ['Place', 'Atlanta, Georgia (US), 33n45,  84w23'],
 ['Timezone', 'EDT h4w (is daylight saving time)'],
 ['Data source',
  '',
  '',
  '',
  'Quoted BC/BR',
  '',
  '',
  '',
  'Rodden Rating AA',
  '',
  '',
  'Collector: Rodden'],
 ['Quoted BC/BR', '', '', '', 'Rodden Rating AA', '', '', 'Collector: Rodden'],
 ['Rodden Rating AA'],
 ['Collector: Rodden'],
 ['Astrology data', "  04°03'   24°47 Asc. 27°53'"]]

In [24]:
# combinando os dados em um dataframe utilizando a biblioteca pandas
data = rows

df = pd.DataFrame(data)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,Name,,,,"Roberts, Julia",Gender: F,None,None,None,None,None,None
1,"Roberts, Julia",Gender: F,None,None,None,None,None,None,None,None,None,None
2,Birthname,Julie Fionna Roberts,None,None,None,None,None,None,None,None,None,None
3,born on,28 October 1967 at 00:16 (= 12:16 AM ),None,None,None,None,None,None,None,None,None,None
4,Place,"Atlanta, Georgia (US), 33n45, 84w23",None,None,None,None,None,None,None,None,None,None

In [25]:
df = df.T

In [26]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10
0,Name,"Roberts, Julia",Birthname,born on,Place,Timezone,Data source,Quoted BC/BR,Rodden Rating AA,Collector: Rodden,Astrology data
1,,Gender: F,Julie Fionna Roberts,28 October 1967 at 00:16 (= 12:16 AM ),"Atlanta, Georgia (US), 33n45, 84w23",EDT h4w (is daylight saving time),,,None,None,04°03' 24°47 Asc. 27°53'
2,,None,None,None,None,None,,,None,None,None
3,,None,None,None,None,None,,,None,None,None
4,"Roberts, Julia",None,None,None,None,None,Quoted BC/BR,Rodden Rating AA,None,None,None

In [30]:
teste = pd.read_csv('teste.csv')

EmptyDataError: No columns to parse from file